<aside id="aside">

    <nav id="sideNav">
        <ul class="nav nav-list">
            <li {{ if eq .page "inbox"}}class="active"{{ end }}>
                <a href="/inbox">
                    <i class="main-icon fa fa-envelope"></i> <span>Inbox</span>
                </a>
            </li>
            <li {{ if eq .page "news"}}class="active"{{ end }}>
                <a href="/news">
                    <i class="main-icon fa fa-stack-overflow"></i> <span>News</span>
                </a>
            </li>
            <li {{ if eq .page "employee"}}class="active"{{ end }}>
                <a href="/employee">
                    <i class="main-icon fa fa-group"></i> <span>Employees</span>
                </a>
            </li>
            <li {{ if eq .page "calendar"}}class="active"{{ end }}>
                <a href="/calendar">
                    <i class="main-icon fa fa-calendar"></i> <span>Calendar</span>
                </a>
            </li>
            <li {{ if eq .page "settings"}}class="active"{{ end }}>
                <a href="/settings">
                    <i class="main-icon fa fa-cogs"></i> <span>Settings</span>
                </a>
            </li>
            <li>
                <a href="/logout">
                    <i class="main-icon fa fa-power-off"></i> <span>Logout</span>
                </a>
            </li>
        </ul>

    </nav>

    <span id="asidebg"></span>
</aside>

<header id="header">

    <button id="mobileMenuBtn"></button>

    <span class="logo pull-left">
        <a href="/"><img src="/static/images/CultivisorLogoDark.png" alt="admin panel" height="35" /></a>
    </span>

    <nav>

        <ul class="nav pull-right">

            <li class="dropdown pull-left">
                <img class="user-avatar" alt="" src="/static/adminassets/images/noavatar.jpg" height="34" />
                <span class="user-name">
                    <span class="hidden-xs">
                        Admin
                    </span>
                </span>
            </li>

        </ul>

    </nav>

</header>
