<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Cultivisor Employee Appraisals</title>
		<meta name="keywords" content="HTML5,CSS3,Template" />
		<meta name="description" content="" />
		<meta name="Author" content="Dorin Grigoras [www.stepofweb.com]" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700" rel="stylesheet" type="text/css" />
		<link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>

		<!-- CORE CSS -->
		<link href="/static/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

		<!-- SWIPER SLIDER -->
		<link href="/static/plugins/slider.swiper/dist/css/swiper.min.css" rel="stylesheet" type="text/css" />

		<!-- THEME CSS -->
		<link href="/static/css/essentials.css" rel="stylesheet" type="text/css" />
		<link href="/static/css/layout.css" rel="stylesheet" type="text/css" />

		<!-- PAGE LEVEL SCRIPTS -->
		<link href="/static/css/header-1.css" rel="stylesheet" type="text/css" />
		<link href="/static/css/color_scheme/green.css" rel="stylesheet" type="text/css" id="color_scheme" />
	</head>

	<body class="smoothscroll enable-animation">

		<div id="wrapper">

			<div id="header" class="sticky clearfix">

				{{ template "navbar2.tmpl" . }}

			</div>

            <section>
                <div class="container">
                    <div class="heading-title heading-border heading-color">
                        <h1>The Annual Review is <span>DEAD!</span></h1>
                        <p class="font-lato size-19">Long live the Annual Review!</p>
                    </div>
					<div class="divider divider-center divider-color">
						<i class="fa fa-chevron-down"></i>
					</div>
                    <div class="col-lg-12">
                        <p class="lead">It's not that the annual review is a bad idea, it's just that the concept is fundamentally flawed.  </p>
                        <p class="lead">The Human Resources team becomes the enemy of the Business Unit leaders because they have to be the Annual Review Police.</p>
                        <p class="lead">The Business Unit leaders try to explain that they just don't have the time.  We see that the reviews are too subjective and are based on too recent of behavior.</p>
                        <p class="lead">So we try to solve the dilema by doing them more frequently.    Not much help there . . .</p>
                        <p class="lead">We have to remember, the concept has a fundamental flaw, and doing it more often really won't make life better.</p>
                        <div class="col-lg-12 margin-bottom-20 margin-top-20">
                            <h4><span>The fundamental flaw</span> is that talking about performance but doing it as a KPI and compensation discussion only ensures that the underlying job performance <span>will not change</span>.</h4>
                        </div>
                        <p class="lead">We need to take a hard look at what we think we are getting with the annual review, compared to what we are really getting, and then enhance the concept so that we get what we really want.</p>
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="col-lg-12">
                        <div class="toggle toggle-transparent-body toggle-accordion">
                        	<div class="toggle active">
                        		<label>Scenario One: Perfect or Acceptable Performer, Good Raise</label>
                        		<div class="toggle-content">
                        			<p>Here we see someone who is a recognized performance leader in the company.  He/She already believes himself/herself to be valuable to the company.  As they come in the door to your office they’re expecting a raise.  A good raise.  All you can do is either meet that expectation by awarding a good raise, or else offend them with a marginal raise.  We all can guess the effect of a marginal raise, but what about the effect of a good raise?</p>
                                    <p>Awarding a good raise is really only meeting what they expected to happen.  You could get a good bump in performance if you award a great raise, but either way, good or great raise, they’re going to enter your office thinking they’re performing up to standard (or better) and they’re going to leave your office thinking they’re performing up to standard (or better.)  You will not have impacted their perception of their job performance to such an extent that you will alter their behavior.  The only way to do this is to blast their performance while giving a good raise, which will send a mixed signal, and you’ll still only temporary performance change, only this time it will be no change or a dip!</p>
                        		</div>
                        	</div>

                        	<div class="toggle">
                        		<label>Scenario Two: Perfect or Acceptable Performer, Marginal Raise</label>
                        		<div class="toggle-content">
                        			<p>A bit more tenuous ground here!  Now we’re in a situation where we have good performance, but for whatever reason, you can only award a marginal raise.  Perhaps there’s a company-wide moratorium, or perhaps this person is at or near the salary cap for the position.  For whatever reason, the raise is marginal.</p>
                                    <p>So, he or she sits through the discussion about how their job performance is good, all the while waiting to find out what the reward is.  Does this cause them to think “I need to do a better job”?  No.  I causes them to think “ok, I can check that off as ok, now for the good part!”  It’s the same mindset as in scenario one, only, because there is no “good part” coming, the results are disastrous.</p>
                                    <p>Time for the salary part of the discussion.  As they learn that they’re in fact not getting the raise they believe they’re entitled to (which, by the way, is the same mindset the OK Performer will have in this situation, even though he/she really is only entitled to a marginal raise!)  as the reality sinks in, their attitude will begin to tank, and they’ll leave your office on a track for decreased job performance.</p>
                                    <p>Now I’ll put on an optimistic hat and suggest that you may recover this person over time.  If he/she was a good performer in the past, he/she probably has the right attitude, and will self-recover over time.  However, you better hope, or make sure, that this person doesn’t encounter someone in the next two scenarios while he/she is in this tenuous middle ground!</p>
                        		</div>
                        	</div>

                        	<div class="toggle">
                        		<label>Scenario Three: Marginal or Lousy Performer, Marginal Raise</label>
                        		<div class="toggle-content">
                        			<p>It’s hard to say which scenario is the worst, scenario two or this one.  In scenario two you negatively impact job performance, and possibly alienate a good performer.  In this scenario you reward bad behavior!</p>
                                    <p>Let’s look at the employee’s mindset coming into the “review” . . .  He/She may know that his/her job performance is sub par, but most people either are blind to this or else they justify it into submission.  I’ve never had an employee, in a salary review setting, tell me that his/her job performance is below standard.  If they even get close, what follows is a litany of reasons why it’s someone or something else’s fault.  I never enjoy those conversations.  I think it’s safe to assume they will either enter your office in blissful ignorance, expecting a good raise, or else they’ll enter in defense mode.  Both lead to the same mindset as they leave your office two bloody hours later.</p>
                                    <p>So during your “review” discussion, this person learns, or is forced to admit, that his/her job performance is unacceptable.  You may even have a good discussion about how to improve it.  HOWEVER, they’re still sitting there waiting for the “good part,” which they’re already suspecting will actually be the “bad part.”</p>
                                    <p>Time for the salary part of the discussion.  Bad news – marginal raise.  That’s probably the best thing you can do with a lousy or even marginal performer.  The thing with this is that you’ve reinforced the idea that someone can perform at minimum acceptable levels or below, and they still get a bump.  What worries me the most about this scenario is the cancer it will spread.  Let’s face it, while people may not talk about the specific money they make or receive in their annual “review,” they do talk in terms that let someone else get the general idea of how things went, up or down.  Even if they went down, people aren’t going to admit that in public, in front of their peers.  The only time this happens is when two or more people create a cancer ward.</p>
                                    <p>Had we built an audit trail of regular job performance observation coaching sessions having some effect throughout the past year, then we could better justify a positive compensation adjustment at year end, even though overall performance still needs to improve.  But, if we’re going to have the two conversations at the same time, forget it.</p>
                        		</div>
                        	</div>

                            <div class="toggle">
                        		<label>Scenario Four: Marginal or Lousy Performer, No Raise</label>
                        		<div class="toggle-content">
                        			<p>Marginal or Lousy Performer, No Raise.  This is a no-win situation.  You are just simply not going to get better performance out of this person.  The best you can hope for is to “scare them into better performance,” but I’d argue that this is temporary at best.  If you’d had a healthy performance coaching session separate from a compensation discussion, then maybe you’d have an impact.  When coupled with the comp discussion, no chance.  Well, ok, slim chance.  That’s as far as I’ll go.</p>
                                    <p>In all four scenarios I can build a pretty good case that you won’t get the results you’re after if you tie a performance discussion together with a compensation discussion.  The only compromise I’m willing to agree to is to couple the accountability review with the compensation discussion.  I can see where they reflect on one another, so I can see, for efficiency’s sake, why you’d put them together.  But NEVER with a performance review.  It undermines the impact you’re after!</p>
                                    <p>If, instead, you always discuss how to improve job performance on an ongoing basis with everyone, not just top or bottom performers, then you stand a better chance of getting job performance to improve.  The receiver of the coaching will be in a different mindset.  When money comes into a discussion, the focus always shifts.  It’s human nature, and it’s unavoidable.  If you want to see sustained, improved job performance, you need to have an environment that focuses on performance observation and coaching, with periodic accountability and compensation discussions.</p>
                                    <p>I don’t think companies continue to have compensation reviews along with accountability reviews along with performance improvement coaching all at the same time because they’re too stupid to realize this just doesn’t achieve the results they’re after.  I think it’s because it’s an administrative nightmare in most companies to discuss job performance improvement, and this cause companies to continue to lump all of this together into one Annual Review (or, at best, a Quarterly Review of performance, and then one Annual Review where all three are discussed). </p>
                                    <p>If we only had an easier way to have regular performance coaching sessions, and then if only we could easily compile that information to have handy when it came time to discuss compensation . . . </p>
                        		</div>
                        	</div>

                        </div>`
                    </div>
                </div>
            </section>
            <section class="alternate">
                <div class="container">
                    <div class="col-lg-12">
                        <div class="heading-title heading-border">
	                        <h2>The <span>Solution</span></h2>
                        </div>
                        <p><i class="fa fa-chevron-right"></i> Keep the KPI review (probably a mid-year "fair warning" and the end-of-year formal review)</p>
                        <p><i class="fa fa-chevron-right"></i> Add ongoing Performance Rewiews into the mix (observation and coaching on a job task)</p>
                        <p><i class="fa fa-chevron-right"></i> Make both types of "review" based on actual, objective, job results measurements</p>
                        <div class="row">
                            <div class="heading-title heading-dotted text-center">
    	                        <h1>Types of <span>Employee Reviews</span></h1>
                            </div>

                        	<div class="col-md-3 col-sm-3">
                        		<ul class="nav nav-tabs nav-stacked nav-alternate">
                        			<li class="active">
                        				<a href="#tab_g" data-toggle="tab">
                        					Type 1
                        				</a>
                        			</li>
                        			<li>
                        				<a href="#tab_h" data-toggle="tab">
                        					Type 2
                        				</a>
                        			</li>
                        		</ul>
                        	</div>

                        	<div class="col-md-9 col-sm-9">
                        		<div class="tab-content tab-stacked nav-alternate">
                        			<div id="tab_g" class="tab-pane active">
                                        <h4>Accountability Review</h4>
                                        <p>The formal annual "KPI" Accountability Review.  This is an official documenting of acceptable or unacceptable results, based on the KPI's for the job.  Often this is a document signed by both the employee and manager, and filed in the employee's personnel file.  This is what we think of as the heart of the classic Annual Review.</p>
                        			</div>

                        			<div id="tab_h" class="tab-pane">
                        				<h4>Performance Review</h4>
                        				<p>The ongoing Performance "Review" of how well an employee performs the tasks indemic to his/her job.  This is the added element to employee reviews that we have found have significant impact on improving the underlying employee job performance which the business is seeking.</p>
                        			</div>

                        		</div>
                        	</div>

                        </div>
                        <div class="col-lg-12 margin-top-40">
                            <h3 class="marging-top-80 text-center">The effective Talent Development program uses <span>BOTH OF THESE</span> types.</h3>
                        </div>
                    </div>

                </div>
            </section>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/OILPxfddZoE"></iframe>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <p class="lead margin-top-100 text-center">The two types explained, and the use of Job Tasks as the basis for ongoing Performance Reviews</p>
                        </div>
                    </div>
                    <div class="col-lg-6 margin-top-60">
                        <div class="heading-title text-center heading-border-bottom">
	                        <h2><span>Accountability Review Form</span></h2>
                        </div>
                        <p>The Accountability Review form let's you document all of the elements that are being rated.</p>
                        <p>Once the review has been discussed and completed, the form can be printed to allow for signatures and filing if needed.</p>
                        <p>You can use the "Load Default Factors" to get a quick jumpstart on the factors to evaluate/score.  Any factors that are stored in the Job Description are automatically loaded for rating.</p>
                        <p>You can then remove any of the defaults and/or type additional factors to discuss.</p>

                    </div>
                    <div class="col-md-6 margin-top-60">
                        <!-- <img class="img-responsive" src="/static/images/perform_accountability_review.jpg" alt=""> -->
						<img class="img-responsive" src="/static/images/temp/Annual KPI Review.jpg" alt="" />
                        <p class="margin-top-20">Actually, it will be the Business Unit Manager who will be filling out the form, so make sure he/she knows about the defaults . . .</p>
                    </div>
                </div>
            </section>

            <section class="alternate">
                <div class="container">
                    <div class="col-md-6 margin-top-60">
                        <!-- <img class="img-responsive" src="/static/images/perform_performance_review.jpg" alt=""> -->
						<img class="img-responsive" src="/static/images/temp/PerformanceReview.jpg" alt="" />
                    </div>
                    <div class="col-lg-6 margin-top-60">
                        <div class="heading-title heading-border heading-color">
                            <h2>Performance Review Form</h2>
                            <p class="font-lato size-19">A lightweight form for an informal conversation - but ongoing <strong>feedback</strong> and <strong>coaching</strong> are the accelerators of positive behavior change!</p>
                        </div>
                        <p>The ongoing "doing the task right?" observation and coaching Performance Review  for continuous employee job performance improvement.</p>
                        <p>Observe a person doing a job task, and address any of the techniques used that are not correct or sufficient.</p>
                        <p>Developing Practices (a.k.a. "weaknesses") may or may not be addressed, but when they are, they need a specific Action Plan, with a very clear goal statement.</p>
                        <p>Of course P.E.R.F.O.R.M. let's you capture both the Performance Review and any associated development plan.</p>
                    </div>
                    <div class="col-lg-12 margin-top-20">
                        <div class="heading-title heading-line-double text-center">
                            <h2>Goals and Actions Forms</h2>
                        </div>
                    </div>
                    <!-- <div class="col-md-6 margin-top-10">
                        <img class="img-responsive" src="/static/images/perform_observation.jpg" alt="">
						<img class="img-responsive" src="/static/images/PERFORM1996.png" alt="" />
                    </div> -->
                    <div class="col-md-offset-3 col-md-6 margin-top-10">
                        <!-- <img class="img-responsive" src="/static/images/perform_observation_action.jpg" alt=""> -->
						<img class="img-responsive" src="/static/images/temp/Goal and Actions.jpg" alt="" />
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="col-lg-6">
                        <h3 class="text-center"><span>Lastly - Use Objective Measurements as the Basis of Performance Evaluation</span></h3>
                        <p>To achieve the level of review that would cause your employees to use the word "FAIR" you must use objective measurements and not subjective opinion as the basis for your company's employee review program.</p>
                        <p>The Peer-to-Peer analysis form, with the peer group of "Manager," makes it easy to access the KPI's to use to complete the Accountablity Review form.</p>
                    </div>
                    <div class="col-md-6 margin-top-10">
                        <!-- <img class="img-responsive" src="/static/images/perform_peer-to-peer.jpg" alt=""> -->
						<img class="img-responsive" src="/static/images/temp/Peer to Peer Comparison Analysis.jpg" alt="" />
                    </div>
                </div>
            </section>
            <section class="alternate">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <p class="lead margin-top-100 text-center">Watch the "How To" video to see how PERFORM supports the Annual KPI Review component</p>
                        </div>
                        <div class="col-lg-6">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/NWSeaMcMdy0"></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/NWSeaMcMdy0"></iframe>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <p class="lead margin-top-100 text-center">Watch the "How To" video to see how PERFORM supports the Performance Review component</p>
                        </div>
                    </div>
                </div>
            </section>
            <section>
				<div class="container">
					<div class="row">
                        <div class="col-md-6 col-xs-12 text-center">
                            <img class="img-responsive" style="width:200px" src="/static/images/cultivisor_book.jpg" alt="" />
                        </div>
						<div class="col-md-6 col-xs-12 text-center margin-top-40">
							<h3 class="nomargin">WORKFORCE  OPTIMIZATION</h3>
							<p class="font-lato weight-300 lead nomargin-top">"It all comes down to your people!"</p>
                            <br>
                            <br>
                            <a href="/static/Workforce_Optimization.pdf" target="_blank" class="btn btn-lg btn-default btn-bordered size-20 wow bounce" data-wow-delay=".5s">
                                Snag A Free Copy!
                            </a>
						</div>
					</div>
                </div>

            </section>

			{{ template "footer2.tmpl" . }}

			<a href="#" id="toTop"></a>

			<div id="preloader">
				<div class="inner">
					<span class="loader"></span>
				</div>
			</div>

			{{ template "scripts.tmpl" . }}
			{{ template "alert.tmpl" . }}

		<!-- SWIPER SLIDER -->
		<script type="text/javascript" src="/static/plugins/slider.swiper/dist/js/swiper.min.js"></script>
		<script type="text/javascript" src="/static/js/view/demo.swiper_slider.js"></script>

		<!-- PAGELEVEL SCRIPTS -->
		<script type="text/javascript" src="/static/js/contact.js"></script>

		<script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=true"></script>
		<script type="text/javascript" src="/static/plugins/gmaps.js"></script>

		<script type="text/javascript">
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-82278175-1', 'auto');
		  ga('send', 'pageview');
		</script>
	</body>
</html>
