<footer id="footer">
    <div class="container">

        <div class="row">

            <div class="col-md-4 col-xs-12">

                <a href="/">
                    <img src="/static/images/CultivisorLogoDark.png" alt="" />
                </a>

                <p>Advice and Tools to Cultivate Employee Talent</p>

                <address>
                    <ul class="list-unstyled">
                        <li class="footer-sprite address">
                            <!-- PO Box 2222<br>
                            50 Rolling Hill Drive<br> -->
                            Lancaster, Pa 17622<br>
                        </li>
                        <li class="footer-sprite phone">
                            USA Tel: 1-717-872-2565
                        </li>
                        <li class="footer-sprite email">
                            <a href="mailto:support@yourname.com">ken.johnson@cultivisor.com</a>
                        </li>
                    </ul>
                </address>
                <div class="margin-top-20">
                    <a href="http://www.facebook.com/cultivisor" target="_blank" class="social-icon social-icon-border social-facebook pull-left" data-toggle="tooltip" data-placement="top" title="Facebook">

                        <i class="icon-facebook"></i>
                        <i class="icon-facebook"></i>
                    </a>

                    <a href="http://www.twitter.com/cultivisor" target="_blank" class="social-icon social-icon-border social-twitter pull-left" data-toggle="tooltip" data-placement="top" title="Twitter">
                        <i class="icon-twitter"></i>
                        <i class="icon-twitter"></i>
                    </a>

                    <a href="http://www.youtube.com/cultivisor" target="_blank" class="social-icon social-icon-border social-youtube pull-left" data-toggle="tooltip" data-placement="top" title="YouTube">
                        <i class="icon-youtube"></i>
	                    <i class="icon-youtube"></i>>
                    </a>

                    <a href="https://www.linkedin.com/cultivisor" class="social-icon social-icon-border social-linkedin pull-left" data-toggle="tooltip" data-placement="top" title="Linkedin">
                        <i class="icon-linkedin"></i>
                        <i class="icon-linkedin"></i>
                    </a>

                </div>

            </div>

            <div class="col-md-4 hidden-sm hidden-xs">

                <h4 class="letter-spacing-1">OUR LATEST <span>NEWS</span></h4>
                {{ range $news := .footerNews}}
                <ul class="footer-posts list-unstyled">
                    <li>
                        <a href="/article/{{ $news.Id }}">
                            {{ $news.Title }}
                        </a>
                        <small>{{ prettyDate $news.Id }}</small>
                    </li>
                    <li></li>
                </ul>
                {{ end }}

            </div>

            <div class="col-md-4 col-xs-12">

                <div class="col-md-6">
                    <h4 class="letter-spacing-1">EXPLORE <span>CULTIVISOR</span></h4>
                    <ul class="list-unstyled">
                        <li><a class="block margin-bottom-10" href="/"><i class="fa fa-angle-right"></i> Home</a></li>
                        <li><a class="block margin-bottom-10" href="/#whatwedo"><i class="fa fa-angle-right"></i> Who is Cultivisor</a></li>
                        <li><a class="block margin-bottom-5" href="/#perform"><i class="fa fa-angle-right"></i> <span style="font-family:Orbitron;"> P.E.R.F.O.R.M.</span></a></li>
                        <li><a class="block margin-bottom-10" href="/#pricing">&nbsp;&nbsp;<i class="fa fa-angle-up"></i>  Pricing</a></li>
                        <li><a class="block margin-bottom-10" href="/#ourteam"><i class="fa fa-angle-right"></i> Our Team</a></li>
                        <li><a class="block margin-bottom-10" href="/#news"><i class="fa fa-angle-right"></i> News</a></li>
                        <li><a class="block margin-bottom-10" href="/#contact"><i class="fa fa-angle-right"></i> Contact Us</a></li>

                    </ul>
                </div>

                <div class="col-md-6">
                    <h4 class="letter-spacing-1">EXPLORE <br> <span>PAGES</span></h4>
                    <ul class="list-unstyled">
                        <li class="hidden-sm hidden-xs"><a class="block margin-bottom-10" href="/team"><i class="fa fa-angle-right"></i> Our Team</a></li>
                        <li><a class="block margin-bottom-10" href="/whatwedo"><i class="fa fa-angle-right"></i> HR Profit Centers</a></li>
                        <li><a class="block margin-bottom-10" href="/perform"><i class="fa fa-angle-right"></i> <span style="font-family:Orbitron;"> P.E.R.F.O.R.M.</span> in Depth</a></li>
                        <li><a class="block margin-bottom-10" href="/workforceoptimization"><i class="fa fa-angle-right"></i> WorkForce Optimization</a></li>
                        <li><a class="block margin-bottom-10" href="/appraisal"><i class="fa fa-angle-right"></i> Employee Appraisals</a></li>
                        <li><a class="block margin-bottom-10" href="/servicemenue"><i class="fa fa-angle-right"></i> Services Menue</a></li>
                        <li><a class="block margin-bottom-10" href="/publiccourse"><i class="fa fa-angle-right"></i> Public Courses</a></li>
                        <li><a class="block margin-bottom-10" href="/faq"><i class="fa fa-angle-right"></i> FAQ</a></li>
                    </ul>
                </div>

            </div>

        </div>

    </div>

    <div class="copyright">
        <div class="container">
            <ul class="pull-right nomargin list-inline mobile-block">
                <li><a href="/terms">Terms &amp; Conditions</a></li>
                <li>&bull;</li>
                <li><a href="/privacy">Privacy</a></li>
                <li>&bull;</li>
                <li><a href="/login">Admin</a></li>
            </ul>
            &copy; 1996 by Cultivisor, Ltd.
        </div>
    </div>
</footer>
