<!doctype html>
<html lang="en-US">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<title>Cultivisor Admin</title>
		<meta name="description" content="" />
		<meta name="Author" content="Dorin Grigoras [www.stepofweb.com]" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

		<!-- WEB FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext,cyrillic,cyrillic-ext" rel="stylesheet" type="text/css" />

		<!-- CORE CSS -->
		<link href="/static/adminassets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />


		<!-- THEME CSS -->
		<link href="/static/adminassets/css/essentials.css" rel="stylesheet" type="text/css" />
		<link href="/static/adminassets/css/layout.css" rel="stylesheet" type="text/css" />
		<link href="/static/adminassets/css/color_scheme/green.css" rel="stylesheet" type="text/css" id="color_scheme" />

		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.12/r-2.1.0/datatables.min.css"/>

	</head>

	<body>
		<div id="Admin" class="modal fade" data-autoload="true" data-autoload-delay="5000">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">

			<!-- Modal Header -->
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
				<h4 class="modal-title" id="myModalLabel">Cultivisor Admin</h4>
			</div><!-- /Modal Header -->

			<!-- body modal -->
			<div class="modal-body clearfix">

				<p>
					In the Admin Section you have a variety of tools that allow you to do the following!
				</p>
				<p>
					<ul>
						<li>View All Messages Sent From The Contact Forum</li>
						<li>View All Questions Sent From The FAQ Page</li>
						<li>Add Employees</li>
						<li>Edit Current Employee Information</li>
						<li>Add News Articles</li>
						<li>Edit Existing News Articles</li>
						<li>Track Events Via Calendar</li>
						<li>View Current Analytical Site Data</li>
					</ul>

				</p>

				<!-- Don't show this popup again -->
				<div class="size-11 text-left">
					<label class="checkbox pull-left">
						<input class="loadModalHide" type="checkbox" />
						<i></i> <span class="weight-300">Don't show this popup again</span>
					</label>

				</div>
				<!-- /Don't show this popup again -->

			</div>

		</div>
	</div>
</div>

		<div id="wrapper" class="clearfix">

			{{ template "adminnavbar.tmpl" . }}

			<section id="middle">

				<div id="content" class="dashboard padding-20">

					<div class="tabs nomargin">
						<ul class="nav nav-tabs">
							<li class="active">
								<a><i class="fa fa-envelope"></i>Inbox</a>
							</li>
							<li>
								<a href="/inbox/question"><i class="fa fa-question-circle"></i>Questions</a>

							</li>

						</ul>

					</div>

					<br>
				    <table id="newsTable" class="table table-striped table-hover table-bordered responsive">
                        <thead>
                            <tr>
								<th>Full Name</th>
								<th>Subject</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Message</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{ range $allMsgs := .allMsgs }}
								<tr data-messageId="{{ $allMsgs.Id }}"class="message">
									<td>{{ $allMsgs.FullName }}</td>
									<td>{{ $allMsgs.Subject }}</td>
                                    <td>{{ $allMsgs.Email }}</td>
                                    <td>{{ $allMsgs.Phone }}</td>
                                    <td>{{ $allMsgs.Message }}</td>
                                </tr>
                            {{ end }}
                        </tbody>
                    </table>
                </div>
			</section>

		</div>

		<script type="text/javascript">var plugin_path = '/static/adminassets/plugins/';</script>
		<script type="text/javascript" src="/static/adminassets/plugins/jquery/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="/static/adminassets/js/app.js"></script>

        <!-- CSS DATATABLES -->
        <link href="/static/css/layout-datatables.css" rel="stylesheet" type="text/css" />
		{{ template "alert.tmpl" . }}
        <!-- JS DATATABLES -->
		<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.12/r-2.1.0/datatables.min.js"></script>
        <script type="text/javascript" src="/static/plugins/datatables/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="/static/plugins/datatables/js/dataTables.tableTools.min.js"></script>
        <script type="text/javascript" src="/static/plugins/datatables/js/dataTables.colReorder.min.js"></script>
        <script type="text/javascript" src="/static/plugins/datatables/js/dataTables.scroller.min.js"></script>
        <script type="text/javascript" src="/static/plugins/datatables/dataTables.bootstrap.js"></script>

        <script type="text/javascript">
			$(document).ready(function() {
				$('tr.message').click(function() {
					window.location.href = '/message/' + $(this).attr('data-messageId')
				});
			});
            $('#newsTable').DataTable({
                "lengthMenu": [5,10,15,20],
                // "columnDefs": [
                //     {"orderable":false, "targets": [4]}
                // ]
            });

        </script>
	</body>
</html>
