<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Cultivisor Login</title>
		<meta name="keywords" content="HTML5,CSS3,Template" />
		<meta name="description" content="" />
		<meta name="Author" content="Dorin Grigoras [www.stepofweb.com]" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700" rel="stylesheet" type="text/css" />
		<link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>

		<!-- CORE CSS -->
		<link href="/static/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

		<!-- THEME CSS -->
		<link href="/static/css/essentials.css" rel="stylesheet" type="text/css" />
		<link href="/static/css/layout.css" rel="stylesheet" type="text/css" />

		<!-- PAGE LEVEL SCRIPTS -->
		<link href="/static/css/header-1.css" rel="stylesheet" type="text/css" />
		<link href="/static/css/color_scheme/green.css" rel="stylesheet" type="text/css" id="color_scheme" />
	</head>
	<body class="smoothscroll enable-animation">

		<div id="wrapper">

			<div id="header" class="sticky clearfix">

				{{ template "navbar2.tmpl" . }}

			</div>

                <section>
                    <div class="container">

                        <div class="row">

                            <div class="col-md-6 col-md-offset-3">

                                <div class="box-static box-border-top padding-30">
                                    <div class="box-title margin-bottom-30">
                                        <h2 class="size-20">Please Login</h2>
                                    </div>

                                    <form class="nomargin" method="post" action="#" autocomplete="off">
                                        <div class="clearfix">

                                            <div class="form-group">
                                                <input type="text" name="username" class="form-control" placeholder="Email" required="">
                                            </div>

                                            <div class="form-group">
                                                <input type="password" name="password" class="form-control" placeholder="Password" required="">
                                            </div>

                                        </div>

                                        <div class="row">

                                            <div class="col-md-6 col-sm-6 col-xs-6">

                                            </div>

                                            <div class="col-md-6 col-sm-6 col-xs-6 text-right">

                                                <button type="submit" class="btn btn-primary">LOG IN</button>

                                            </div>

                                        </div>

                                    </form>

                                </div>

                            </div>
                        </div>

                    </div>
                </section>

			<div id="preloader">
				<div class="inner">
					<span class="loader"></span>
				</div>
			</div>

			{{ template "footer2.tmpl" . }}

		</div>

		{{ template "scripts.tmpl" . }}
		{{ template "alert.tmpl" . }}

	</body>
</html>
