<header id="topNav">
    <div class="container">

        <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
            <i class="fa fa-bars"></i>
        </button>

        <a class="logo pull-left scrollTo" href="#top">
            <img src="/static/images/CultivisorLogoDark.png" alt="" />
        </a>

        <div class="navbar-collapse pull-right nav-main-collapse collapse submenu-dark">
            <nav class="nav-main">

                <ul id="topMain" class="nav nav-pills nav-main nav-onepage">
                    <li class="active">
                        <a href="#slider">
                            HOME
                        </a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#whatwedo">
                            WHAT WE DO
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/whatwedo">What We Do</a></li>
                            <li><a href="/workforceoptimization">WorkForce Optimization</a></li>
                            <li><a href="/appraisal">Employee Appraisals</a></li>
                            <li><a href="/perform"><span style="font-family:Orbitron;">P.E.R.F.O.R.M.</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#perform" style="font-family:Orbitron;">
                            P.E.R.F.O.R.M.
                        </a>
                    </li>
                    <li>
                        <a href="#ourteam">
                             OUR TEAM
                        </a>
                    </li>
                    <li>
                        <a href="#news">
                            NEWS
                        </a>
                    </li>
                    <li>
                        <a href="#contact">
                            CONTACT US
                        </a>
                    </li>
                    <li>
                        <a href="/faq">
                            FAQ
                            <i class="fa fa-share"></i>
                        </a>
                    </li>
            </nav>
        </div>

    </div>
</header>
