<!-- TOP NAV -->
<header id="topNav">
    <div class="container">

        <!-- Mobile Menu Button -->
        <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
            <i class="fa fa-bars"></i>
        </button>

        <!-- Logo -->
        <a class="logo pull-left" href="/#top">
            <img src="/static/images/CultivisorLogoDark.png" alt="" />
        </a>

        <!--
            Top Nav

            AVAILABLE CLASSES:
            submenu-dark = dark sub menu
        -->
        <div class="navbar-collapse pull-right nav-main-collapse collapse submenu-dark">
            <nav class="nav-main">

                <!--
                    .nav-onepage
                    Required for onepage navigation links

                    Add .external for an external link!
                -->
                <ul id="topMain" class="nav nav-pills nav-main nav-onepage">
                    <li><!-- HOME -->
                        <a href="/#slider">
                            HOME
                        </a>
                    </li>
                    <li><!-- WORK -->
                        <a href="/#whatwedo">
                            WHAT WE DO
                        </a>
                    </li>
                    <li><!-- WORK -->
                        <a href="/#perform" style="font-family:Orbitron;">
                            P.E.R.F.O.R.M.
                        </a>
                    </li>
                    <li><!-- TEAM -->
                        <a href="/#ourteam">
                             OUR TEAM
                        </a>
                    </li>
                    <li><!-- SERVICES -->
                        <a href="/#news">
                            NEWS
                        </a>
                    </li>
                    <li><!-- TESTIMONIALS -->
                        <a href="/#contact">
                            CONTACT US
                        </a>
                    </li>
                    <li class="dropdown">
    					<a class="dropdown-toggle" href="#">
    						PAGES
    					</a>
    						<ul class="dropdown-menu">
    							<li><a href="/perform"><span style="font-family:Orbitron;">P.E.R.F.O.R.M.</span> Page</a></li>
                                <li><a href="/whatwedo">WhatWeDo Page</a></li>
                                <li><a href="/faq">Faq Page</a></li>
    						</ul>
					</li>

                </ul>

            </nav>
        </div>

    </div>
</header>
