<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>P.E.R.F.O.R.M.</title>
		<meta name="keywords" content="HTML5,CSS3,Template" />
		<meta name="description" content="" />
		<meta name="Author" content="Dorin Grigoras [www.stepofweb.com]" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
		<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

		<!-- WEB FONTS : use %7C instead of | (pipe) -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700" rel="stylesheet" type="text/css" />
		<link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>

		<!-- CORE CSS -->
		<link href="/static/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

		<!-- THEME CSS -->
		<link href="/static/css/essentials.css" rel="stylesheet" type="text/css" />
		<link href="/static/css/layout.css" rel="stylesheet" type="text/css" />

		<!-- PAGE LEVEL SCRIPTS -->
		<link href="/static/css/header-1.css" rel="stylesheet" type="text/css" />
		<link href="/static/css/color_scheme/green.css" rel="stylesheet" type="text/css" id="color_scheme" />
	</head>
	<body class="smoothscroll enable-animation">
		<!-- /SLIDE TOP -->


		<!-- wrapper -->
		<div id="wrapper">

			<div id="header" class="sticky clearfix">

				{{ template "navbar2.tmpl" . }}

			</div>

			<!-- -->
			<section>
				<div class="container">
					<div class="heading-title text-center heading-color">
						<h1>Introducing <span style="font-family:Orbitron">P.E.R.F.O.R.M.</span></h1>
						<p class="lead">20th Aniversary Edition</p>
						<h2 class="size-25"><span style="font-family:Orbitron">P.E.R.F.O.R.M.</span>'s Essential Elements</h2>
					</div>


					<div class="divider divider-center divider-color">
						<i class="fa fa-chevron-down"></i>
					</div>
					<article class="row">
						<div class="col-md-6">
							<div class="owl-carousel buttons-autohide controlls-over nomargin" data-plugin-options='{"items": 1, "autoHeight": true, "navigation": true, "pagination": true, "transitionStyle":"backSlide", "progressBar":"true"}'>
								<div>
									<img class="img-responsive" src="/static/images/Perform.jpg" alt="">
								</div>
								<div>
									<img class="img-responsive" src="/static/images/Perform2.jpg" alt="">
								</div>
								<div>
									<img class="img-responsive" src="/static/images/perform8.jpg" alt="">
								</div>
								<div>
									<img class="img-responsive" src="/static/images/Perform7.jpg" alt="">
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<h3>The DNA behind <span style="font-family:Orbitron">P.E.R.F.O.R.M.</span></h3>
							<p><span style="font-family:Orbitron">P.E.R.F.O.R.M.</span> has features to enable you to correlate employee background and learning to actual job performance, including peer-to-peer grouping comparison analysis.</p>
							<p>With this as its DNA, you are able to access the data, organized into information, that creates insight, that equips you to OBJECTIVELY answer the important Talent Development questions:</p>
								<ul class="list">
									<li></i>"Is a particular develpment effort worth its cost?" </li>
									<li></i>"How much does it add to company results?"</li>
									<li></i>"What backgrounds develop ability the fastest and easiest, and achieve the highest?"</li>
									<li></i>"Are there Managers that foster talent more effectively?"</li>
									<li></i>"What is a group's potential ability and not just their results against a standard?"</li>
								</ul>
						</div>
					</article>
					<!-- <div class="margin-top-60">
						<ul class="nav nav-tabs nav-clean">
							<li class="active"><a href="#tab1" data-toggle="tab">The "All In One"</a></li>
							<li><a href="#tab2" data-toggle="tab">The Employee Tracking</a></li>
							<li><a href="#tab3" data-toggle="tab">The Ease-Of-Use</a></li>
							<li><a href="#tab4" data-toggle="tab">The Real World Impact</a></li>
							<li><a href="#tab5" data-toggle="tab">The Security</a></li>
						</ul>

						<div class="tab-content">
							<div id="tab1" class="tab-pane fade in active">
								<img class="pull-left" src="/static/images/demo/mockups/600x399/11-min.jpg" width="200" alt="" />
								<p class="lead">P.E.R.F.O.R.M. is such a powerful tool for Talent Development because of one simple factor: everything is in one place! As you use the same software for common HR functions such as documenting the company's jobs and their tasks, keeping track of employees, and registering people for courses, etc., and as the Business Unit Managers use it to record employee reviews and coaching, it aggregates the insight it delivers to you by cross-referencing all of these factors that add up to better employee job performance.</p>
							</div>
							<div id="tab2" class="tab-pane fade">
								<img class="pull-right" src="/static/images/demo/mockups/600x399/18-min.jpg" width="200" alt="" />
								<p class="lead">You can use P.E.R.F.O.R.M. to do a little of your HR technology needs or do all of it, except for detailed Payroll and Benefits management. P.E.R.F.O.R.M can be your primary tool for employee tracking, development events tracking, and even emplpyee reviews, or it can be a supplement to any existing HRIS, to provide the results analysis. You will still want a software tool from your Payroll and Benefits vendor.</p>
							</div>
							<div id="tab3" class="tab-pane fade">
								<img class="pull-left" src="/static/images/demo/mockups/600x399/11-min.jpg" width="200" alt="" />
								<p class="lead">We strive for the highest level of ease-of-use. Data entered in one place is leveraged for reuse and/or analysis in other places. All of the data on the factors that matter are organized by P.E.R.F.O.R.M. and can be analyzed for meaning with just one mouse click.</p>
							</div>
							<div id="tab4" class="tab-pane fade">
								<img class="pull-right" src="/static/images/demo/mockups/600x399/18-min.jpg" width="200" alt="" />
								<p class="lead">As you add in the actual job performance measurements, P.E.R.F.O.R.M. connects all of your HR efforts to real world improvement, so you can FINALLY see and calculate, easily, the true impact of HR efforts on company profitability. You can turn the HR function into the profit center it truely is. (more on that in the Workforce Optimization section.)</p>
							</div>
							<div id="tab5" class="tab-pane fade">
								<img class="pull-left" src="/static/images/demo/mockups/600x399/11-min.jpg" width="200" alt="" />
								<p class="lead">Oh, and just in case you were wondering, yes, we've made this a secure system! You must first sign in to P.E.R.F.O.R.M., and then you are given access to view your own information, and to view and edit the information for anyone in your reporting structure.</p>
							</div>
						</div>
					</div> -->

				</div>
			</section>
			<!-- / -->
			<!-- -->
			<section>
				<div class="container">

					<!-- BORN TO BE A WINNER -->

					<!-- <div class="heading-title text-center heading-color">
						<h3>P.E.R.F.O.R.M. is the ONLY HR tool that enables you to conduct such analysis!</h3>
					</div> -->
					<!-- /BORN TO BE A WINNER -->
					<div class="margin-top-60">
						<ul class="nav nav-tabs nav-justified">
							<li class="active"><a href="#tab1" data-toggle="tab">The "All In One"</a></li>
							<li><a href="#tab2" data-toggle="tab">The Employee Tracking</a></li>
							<li><a href="#tab3" data-toggle="tab">The Ease-Of-Use</a></li>
							<li><a href="#tab4" data-toggle="tab">The Real World Impact</a></li>
							<li><a href="#tab5" data-toggle="tab">The Security</a></li>
						</ul>

						<div class="tab-content">
							<div id="tab1" class="tab-pane fade in active">
								<!-- <img class="pull-left" src="/static/images/demo/mockups/600x399/11-min.jpg" width="200" alt="" /> -->
								<p class="lead"><span style="font-family:Orbitron">P.E.R.F.O.R.M.</span> is such a powerful tool for Talent Development because of one simple factor: everything is in one place! As you use the same software for common HR functions such as documenting the company's jobs and their tasks, keeping track of employees, and registering people for courses, etc., and as the Business Unit Managers use it to record employee reviews and coaching, it aggregates the insight it delivers to you by cross-referencing all of these factors that add up to better employee job performance.</p>
							</div>
							<div id="tab2" class="tab-pane fade">
								<!-- <img class="pull-right" src="/static/images/demo/mockups/600x399/18-min.jpg" width="200" alt="" /> -->
								<p class="lead">You can use <span style="font-family:Orbitron">P.E.R.F.O.R.M.</span> to do a little of your HR technology needs or do all of it, except for detailed Payroll and Benefits management. <span style="font-family:Orbitron">P.E.R.F.O.R.M.</span> can be your primary tool for employee tracking, development events tracking, and even emplpyee reviews, or it can be a supplement to any existing HRIS, to provide the results analysis. You will still want a software tool from your Payroll and Benefits vendor.</p>
							</div>
							<div id="tab3" class="tab-pane fade">
								<!-- <img class="pull-left" src="/static/images/demo/mockups/600x399/11-min.jpg" width="200" alt="" /> -->
								<p class="lead">We strive for the highest level of ease-of-use. Data entered in one place is leveraged for reuse and/or analysis in other places. All of the data on the factors that matter are organized by <span style="font-family:Orbitron">P.E.R.F.O.R.M.</span> and can be analyzed for meaning with just one mouse click.</p>
							</div>
							<div id="tab4" class="tab-pane fade">
								<!-- <img class="pull-right" src="/static/images/demo/mockups/600x399/18-min.jpg" width="200" alt="" /> -->
								<p class="lead">As you add in the actual job performance measurements, <span style="font-family:Orbitron">P.E.R.F.O.R.M.</span> connects all of your HR efforts to real world improvement, so you can FINALLY see and calculate, easily, the true impact of HR efforts on company profitability. You can turn the HR function into the profit center it truely is. (more on that in the Workforce Optimization section.)</p>
							</div>
							<div id="tab5" class="tab-pane fade">
								<!-- <img class="pull-left" src="/static/images/demo/mockups/600x399/11-min.jpg" width="200" alt="" /> -->
								<p class="lead">Oh, and just in case you were wondering, yes, we've made this a secure system! You must first sign in to <span style="font-family:Orbitron">P.E.R.F.O.R.M.</span>, and then you are given access to view your own information, and to view and edit the information for anyone in your reporting structure.</p>
							</div>
						</div>
					</div>
				</div>
				<!-- H3 -->
			</section>
			<!-- / -->
			<section>
				<div class="container">

					<div class="toggle toggle-transparent toggle-accordion toggle-noicon">

						<div id="one" class="toggle active">
							<label>
								<div class="col-md-12 heading-title heading-border heading-color">
									<h2>Ingredient One:</h2>
									<i class="fa fa-angle-down ico-md ico-rounded ico-hover ico-light arrow" data-scroll="#one"></i>
									<p class="size-20">The Company Information Business Results Feature Lets You Define Success</p>
								</div>
							</label>
							<div class="toggle-content">
								<div class="col-md-12 col-sm-12 margin-bottom-20">
									<p>The Business Results form let's you document what the leadership team has set for the company's goals, and the key measurements used to gauge job performance that affects successful realization of those goals. There is always a direct correlation between company performance and individual performance. <span style="font-family:Orbitron">P.E.R.F.O.R.M.</span> makes it easier to see and manage that relationship.</p>
									<p class="text-center"><strong>Data entered in one feature of <span style="font-family:Orbitron">P.E.R.F.O.R.M.</span> leads to insight gained elsewhere!</strong></p>
									<p>Whether you define just one job, which is how most people start with Workforce Optimization at a company, or tackle all of the jobs for just one department, or all of the jobs for all of the department, the Job Tasks form let's you define the tasks done as part of a specific job, the performance factors that each task affects, and what skills, knowledge, and behaviors someone must have to successfully do each job task. It also captures the Accountability and Success factors for the job, the career path next step, required training classes, and questions one should ask when interviewing a candidate for the job. One screen lets you document your Organization Design efforts - and use them later for Talent Development</p>
								</div>
								<div class="col-md-12 col-sm-12">
									<p class="size-20 text-center">An interactive Org Chart Feature is built automatically, based on the Manager specified for each employee in the Employee Information form.</p>
								</div>
							</div>
						</div>
						<div id="two" class="toggle">
							<label>
								<div class="heading-title heading-border heading-color">
									<h2>Ingredient Two:</h2>
									<i class="fa fa-angle-down ico-md ico-rounded ico-hover ico-light arrow" data-scroll="#two"></i>
									<p class="size-20">Tracking What is Happening with Employees in the Employee Information Feature</p>
								</div>
							</label>
							<div class="toggle-content">
								<div class="col-md-6 col-sm-6">
									<p class="text-right">A multitude of information about an employee is kept in the Personnel Data form. This area stores important demographic information, as well as the catalog of skills, knowledge, behaviors, the employee possesses, his/her accomplishments, and other background details. Current status data is typed into this form, and can be retrieved on demand. The Search button lets you quickly find information for any employee.</p>
									<p class="text-center"><strong>Don't forget, even the most basic one-time company set-up fee includes Cultivisor loading your list of all employee</strong></p>
									<p class="text-right">You build an employee's historical profile one change at a time over a long career, so the entire historical profile of an employee is available. Once you know your company's top performers, you can start to look at their backgrounds to identify common elements. If keeping the data is the first step to understanding, then easy access and use of it must be step two.</p>
								</div>
								<div class="col-md-6 col-sm-6">
									<img class="pull-right img-responsive" src="/static/images/Perform2.jpg" alt="" />
									<p class="text-right">The Employee Information screen is the primary feature used to record active information.</p>
								</div>
								<div class="col-md-12 col-sm-12 margin-bottom-20">
									<p class="size-20 text-center">Which creates an Automatic Historical Profile of Every Employee in the Employee Profile Feature</p>
								</div>
								<div class="col-md-12 col-sm-6 margin-bottom-20">
									<p>You build an employee's historical profile one change at a time over a long career, so the entire historical profile of an employee is available. Once you know your company's top performers, you can start to look at their backgrounds to identify common elements. If keeping the data is the first step to understanding, then easy access and use of it must be step two.</p>
									<p class="size-20 text-center">Record Employee Reviews and Task Coaching with the Employee Review Features</p>
									<p>Whether it's a review to coach for job performance, or the official Accountability Review, often review notes are either not kept at all, or are stored in a disconnected system. With <span style="font-family:Orbitron">P.E.R.F.O.R.M.</span>, when someone has taken the time to observe an employee's job performance, review notes can be stored and retrieved along with all the other pertinent employee data. There's several screens that let you catalog an employee's development plan, and also an area that let's you record formal accountability reviews.</p>
								</div>
								<div class="col-md-6 col-sm-6">
									<img class="pull-right img-responsive" src="/static/images/perform8.jpg" alt="" />
									<p class="text-left">The Employee Profile screen is an automatic assembly of all current and past active information.</p>
								</div>
								<div class="col-md-6 col-sm-6">
									<p class="size-20">Training Results and Employee Reviews enable The Best Practices Feature</p>
									<p>Part of <span style="font-family:Orbitron">P.E.R.F.O.R.M.</span>'s Employee Review feature is the ability to flag when an employee is doing a job task really well. These review notes establish Best Practices for those job tasks. When someone else wants to improve his/her scores for a performance measurement, he/she can review the Best Practices for tasks affecting the measurement, and learn from the success of others!</p>
									<p>Over time, it's important to see what an employee has done to correct disparities in job task performance. Documenting corrective actions helps to focus the employee's development, and also begins to identify what brings the best results when trying to develop any employee's ability to perform a job task. Most companies have only an educated best guess at what works. <span style="font-family:Orbitron">P.E.R.F.O.R.M.</span> helps you make decisions based on facts! As you watch the corresponding Employee Performance Measurements go up or down, you learn what learning experiences bring the best (and worst) results.</p>
								</div>
							</div>
						</div>
						<div  id="three" class="toggle">
							<label>
								<div class="heading-title heading-border heading-color">
									<h2>Ingredient Three:</h2>
									<i class="fa fa-angle-down ico-md ico-rounded ico-hover ico-light arrow" data-scroll="#three"></i>
									<p class="size-20">Course Descriptions are catalogued and Course Registration is Maintained with the Employee Learning Feature</p>
								</div>
							</label>
							<div class="toggle-content">
								<div class="col-md-12 col-sm-6 margin-bottom-20">
									<p>Developing a person's skills relies on exposing them to the right learning experiences. For this, you have to know what he/she has and hasn't experienced.</p>
									<p>One of the ways <span style="font-family:Orbitron">P.E.R.F.O.R.M.</span> keeps track of training efforts is from the perspective of the individual. The Employee Activities Registration form lets you register an employee for a learning experience, and see what other items are in his/her development future and past.</p>
								</div>
								<div class="col-md-6 col-sm-6">
									<img class="pull-right img-responsive" src="/static/images/Perform7.jpg" alt="" />
								</div>
								<div class="col-md-6 col-sm-6">
									<img class="pull-right img-responsive margin-bottom-40" src="/static/images/Perform9.jpg" alt="" />
									<img class="pull-right img-responsive" src="/static/images/Perform10.jpg" alt="" />
								</div>
								<div class="col-md-12 col-sm-6">
									<p>The Learning Activities feature is an online Course Catalog, while the Registration features let you register someone or see who's coming to one of your events.</p>
									<p><span style="font-family:Orbitron">P.E.R.F.O.R.M.</span> catalogs (and is searchable!) the formal courses or other learning experiences at your company. Many facets of a learning experience, including scheduled sessions, learning outcomes, and S,K,& B's developed, are detailed here. Job tasks (from the Jobs area) become terminal learning objectives here, and the S,K,& B's the job tasks require can be modularized and reused as enabling learning objectives.</p>
									<p>Often you need to know who is registered for a session. The Registration By Activity form lets you manage registration based on the event. You can register new participants, and alter or even delete those already signed up. The print features available for events include a Class List, an Activity Description (a.k.a. Course Description), and more. This form also lets you credit employees with completing the activity too!</p>
									<p class="size-20 text-center">Course Options and Employee History enable The Career Planning Feature</p>
									<p>The Career Planning worksheet lets an employee review what he/she has accomplished and identify what must be mastered to move into a selected future job role. Because <span style="font-family:Orbitron">P.E.R.F.O.R.M.</span> has both the job role details AND the employee's historical profile, it is easy to gain insight as to how to get from where they are to where they want to be.</p>
								</div>
							</div>
						</div>

						<div id="four" class="toggle">
							<label>
								<div class="heading-title heading-border heading-color">
									<h2>Ingredient Four:</h2>
									<i class="fa fa-angle-down ico-md ico-rounded ico-hover ico-light arrow" data-scroll="#four"></i>
									<p class="size-20">The Miscellaneous Factors Feature</p>
								</div>
							</label>
							<div class="toggle-content">
								<div class="col-md-12 col-sm-6">
									<p>When determining the cause of improved or declining employee performance, sometimes it is the "outside factors" that turn out to be the catalyst. Perhaps the company opened a new office and the result was a 10% productivity improvement. The Misc. Factors form lets you record and review those things that happen for an individual or company-wide that must be considered when trying to formulate job performance conclusions.</p>
									<p>Viewing these factors is possible from many places throughout the <span style="font-family:Orbitron">P.E.R.F.O.R.M.</span> system.</p>
								</div>
							</div>
						</div>

						<div id="five" class="toggle">
							<label>
								<div class="heading-title heading-border heading-color">
									<h2>Ingredient Five:</h2>
									<i class="fa fa-angle-down ico-md ico-rounded ico-hover ico-light arrow" data-scroll="#five"></i>
									<p class="size-20">The Prospective Employee Tracking Feature</p>
								</div>
							</label>
							<div class="toggle-content">
								<div class="col-md-12 col-sm-6">
									<p>You can keep track of job applicants: resume elements, work history, and other important notes. Later, if the prospect becomes an employee, this data is switched over and jump starts his/her employee record.</p>
									<p>Since you know what background makes for top performers, and because <span style="font-family:Orbitron">P.E.R.F.O.R.M.</span> enables you to capture data about prospects, you can easily search your data for potential job placement matches.</p>
									<p>This search feature is also available for employees too, in the Personnel Data form!</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="alternate visable-xs hidden-md hidden-lg">
				<div class="overlay dark-1"><!-- dark overlay [1 to 9 opacity] --></div>

				<div class="container">

					<div class="text-center">
						<h3 class="nomargin">THE BIG PAYOFF</h3>
						<h4>THE JOB PERFORMANCE ANALYSIS FEATURE</h4>
					</div>
					<div>
						<p class="weight-300 nomargin-top">THE PURPOSE IN LIFE FOR <span style="font-family:Orbitron">P.E.R.F.O.R.M.</span> IS TO ENABLE A TALENT DEVELOPMENT PROFESSIONAL TO IDENTIFY WHAT WORKS THE BEST TO ENHANCE EMPLOYEE JOB PERFORMANCE. AS YOU MIGHT THEN GUESS, THE MOST ROBUST FEATURE OF THEM ALL IS THE FEATURE THAT LETS YOU CONDUCT THIS ANALYSIS.</p>
						<p class="weight-300 nomargin-top">THE JOB PERFORMANCE ANALYSIS FEATURE IS COMPRISED OF A FEW POWERFUL DATA INFORMATION SCREENS, THE MANIPULATION OF WHICH HELPS YOU TO ANSWER THE CRITICAL TIME AND MONEY INVESTMENT QUESTIONS.</p>
						<p class="weight-300 nomargin-top">THE SYSTEM ADMINISTRATOR WILL LOAD ACTUAL EMPLOYEE PERFORMANCE DATA INTO <span style="font-family:Orbitron">P.E.R.F.O.R.M.</span> AND THIS IS THE FEATURE THAT ENABLES ALL OF THE MAGIC!!</p>
						<p class="weight-300 nomargin-top">WHEN THE EMPLOYEE DEVELOPMENT HISTORY IS MATCHED UP WITH ACTUAL PERFORMANCE RESULTS, IT IS THEN POSSIBLE TO INDENTIFY TOP PERFORMERS AND HOW THEY GOT TO BE THAT WAY, AND FOR YOU TO PROVE IN THE BOARD ROOM HOW TALENT DEVELOPMENT EFFORTS HAVE TRANSLATED INTO BOTTOM-LINE COMPANY RESULTS!!</p>
						<p class="weight-300 nomargin-top"></p>
					</div>
				</div>
				<div class="text-center">
					<small>TRY DOING THAT WITHOUT A TOOL LIKE <span style="font-family:Orbitron">P.E.R.F.O.R.M.</span></small>
				</div>
			</section>
			<section class="parallax parallax-2 hidden-xs" style="background-image: url('/static/images/demo/1200x800/1-min.jpg');">
				<div class="overlay dark-8"><!-- dark overlay [1 to 9 opacity] --></div>

				<div class="container">

					<div class="text-center">
						<h3 class="nomargin">THE BIG PAYOFF</h3>
						<h4>THE JOB PERFORMANCE ANALYSIS FEATURE</h4>
					</div>
					<div>
						<p class="weight-300 nomargin-top">THE PURPOSE IN LIFE FOR <span style="font-family:Orbitron">P.E.R.F.O.R.M.</span> IS TO ENABLE A TALENT DEVELOPMENT PROFESSIONAL TO IDENTIFY WHAT WORKS THE BEST TO ENHANCE EMPLOYEE JOB PERFORMANCE. AS YOU MIGHT THEN GUESS, THE MOST ROBUST FEATURE OF THEM ALL IS THE FEATURE THAT LETS YOU CONDUCT THIS ANALYSIS.</p>
						<p class="weight-300 nomargin-top">THE JOB PERFORMANCE ANALYSIS FEATURE IS COMPRISED OF A FEW POWERFUL DATA INFORMATION SCREENS, THE MANIPULATION OF WHICH HELPS YOU TO ANSWER THE CRITICAL TIME AND MONEY INVESTMENT QUESTIONS.</p>
						<p class="weight-300 nomargin-top">THE SYSTEM ADMINISTRATOR WILL LOAD ACTUAL EMPLOYEE PERFORMANCE DATA INTO <span style="font-family:Orbitron">P.E.R.F.O.R.M.</span> AND THIS IS THE FEATURE THAT ENABLES ALL OF THE MAGIC!!</p>
						<p class="weight-300 nomargin-top">WHEN THE EMPLOYEE DEVELOPMENT HISTORY IS MATCHED UP WITH ACTUAL PERFORMANCE RESULTS, IT IS THEN POSSIBLE TO INDENTIFY TOP PERFORMERS AND HOW THEY GOT TO BE THAT WAY, AND FOR YOU TO PROVE IN THE BOARD ROOM HOW TALENT DEVELOPMENT EFFORTS HAVE TRANSLATED INTO BOTTOM-LINE COMPANY RESULTS!!</p>
						<p class="weight-300 nomargin-top"></p>
					</div>
				</div>
				<div class="text-center">
					<small>TRY DOING THAT WITHOUT A TOOL LIKE <span style="font-family:Orbitron">P.E.R.F.O.R.M.</span></small>
				</div>

			</section>
			<!-- -->
			<!-- <section>
				<div class="container">

					<div class="row">
						<div class="col-md-6">
							<h3 class="size-20">Why chose us?</h3>
							<ul class="list-unstyled">
								<li><i class="fa fa-check"></i> Fully responsive so your content will always look good on any screen size</li>
								<li><i class="fa fa-check"></i> Awesome sliders give you the opportunity to showcase important content</li>
								<li><i class="fa fa-check"></i> Unlimited color options with a backed color picker, including the gradients</li>
								<li><i class="fa fa-check"></i> Multiple layout options for home pages, portfolio section &amp; blog section</li>
								<li><i class="fa fa-check"></i> We offer free support because we care about your site as much as you do.</li>
							</ul>
						</div>

						<div class="col-md-6">
							<h3 class="size-20 text-center">What Smarty clients say?</h3>

							<ul class="row clearfix testimonial-dotted list-unstyled">
								<li class="col-md-6">
									<div class="testimonial">
										<figure class="pull-left">
											<img class="rounded" src="/static/images/demo/people/300x300/2-min.jpg" alt="" />
										</figure>
										<div class="testimonial-content">
											<p>Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam!</p>
											<cite>
												Joana Doe
												<span>Company Ltd.</span>
											</cite>
										</div>
									</div>
								</li>
								<li class="col-md-6">
									<div class="testimonial">
										<figure class="pull-left">
											<img class="rounded" src="/static/images/demo/people/300x300/6-min.jpg" alt="" />
										</figure>
										<div class="testimonial-content">
											<p>Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam!</p>
											<cite>
												Melissa Doe
												<span>Company Ltd.</span>
											</cite>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>

				</div>
			</section> -->
			<!-- / -->




			<!--
			CALLOUT

			FULLWIDTH: OUTSIDE OF <section>

				Available Classes:
				alert-default
				alert-info
				alert-warning
				alert-danger
				alert-success
				alert-dark
			-->

			<div class="callout alert alert-transparent noborder noradius nomargin">

				<div class="text-center">

					<h3>Contact us anytime <span><strong>1-717-917-8608</strong></span></h3>
					<p class="font-lato size-20">
						We truly care about our customers and our product.
					</p>

					<a href="/#contact" class="btn btn-primary btn-lg margin-top-30">CONTACT US NOW</a>

				</div>

			</div>
			<!-- /CALLOUT -->

				{{ template "footer2.tmpl" . }}

		</div>
		<!-- /wrapper -->


		<!-- SCROLL TO TOP -->
		<a href="#" id="toTop"></a>


		<!-- PRELOADER -->
		<div id="preloader">
			<div class="inner">
				<span class="loader"></span>
			</div>
		</div><!-- /PRELOADER -->


		<!-- JAVASCRIPT FILES -->
		<script type="text/javascript">var plugin_path = '/static/plugins/';</script>
		<script type="text/javascript" src="/static/plugins/jquery/jquery-2.1.4.min.js"></script>

		<script type="text/javascript" src="/static/js/scripts.js"></script>

		<!-- STYLESWITCHER - REMOVE -->
		<!-- <script async type="text/javascript" src="/static/plugins/styleswitcher/styleswitcher.js"></script> -->

		<script type="text/javascript">
			$('i.arrow').click(function() {
				var divId = $(this).attr('data-scroll');
				window.setTimeout(function () {
					$('html, body').animate({
						scrollTop: ($(divId).offset().top) - 60
					}, 300);
				}, 800);
			});

		</script>

	</body>
</html>
