<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Cultivisor Public Courses</title>
		<meta name="keywords" content="HTML5,CSS3,Template" />
		<meta name="description" content="" />
		<meta name="Author" content="Dorin Grigoras [www.stepofweb.com]" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700" rel="stylesheet" type="text/css" />
        <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>

		<!-- CORE CSS -->
		<link href="/static/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

		<!-- THEME CSS -->
		<link href="/static/css/essentials.css" rel="stylesheet" type="text/css" />
		<link href="/static/css/layout.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="/static/css/plugin-hover-buttons.css" type="text/css">

		<!-- PAGE LEVEL SCRIPTS -->
		<link href="/static/css/header-1.css" rel="stylesheet" type="text/css" />
		<link href="/static/css/color_scheme/green.css" rel="stylesheet" type="text/css" id="color_scheme" />
	</head>

	<body class="smoothscroll enable-animation">

            <div id="header" class="sticky clearfix">

				{{ template "navbar2.tmpl" . }}

			</div>

			<section>
				<div class="container">
                    <div class="heading-title heading-border heading-color">
	                    <h1>Public <span>Courses</span></h1>
                        <p class="font-lato size-19">We offer a variety of business-critical public learning courses</p>
                    </div>
					<div class="divider divider-center divider-color">
						<i class="fa fa-chevron-down"></i>
					</div>
                    <div class="row margin-bottom-20">

						<div class="col-lg-4 col-md-4 col-sm-4">
							<figure class="margin-bottom-20">
								<img class="img-responsive" src="/static/images/demo/mockups/800x553/8-min.jpg" alt="service" />
							</figure>
							<div style="height:180px;">
								<h4 class="nomargin-bottom">Leadership Development Series</h4>
								<small class="font-lato size-18 margin-bottom-30 block">1 Day Course, $1,200</small>
								<p class="text-muted size-14">Crafting a vision, Motivating the team, Creating a budget, Employee Accountability, and More!</p>
							</div>
							<a href="#" class="btn btn-sm btn-hvr hvr-bounce-to-right hidden-sm hidden-xs">Sign Up Now! &nbsp;&nbsp;<i class="fa fa-paypal"></i></a>
						</div>

						<div class="col-lg-4 col-md-4 col-sm-4">
							<figure class="margin-bottom-20">
								<img class="img-responsive" src="/static/images/demo/mockups/800x553/18-min.jpg" alt="service" />
							</figure>
							<div style="height:180px;">
								<h4 class="nomargin-bottom">Building a Better Appriasal Program</h4>
								<small class="font-lato size-18 margin-bottom-30 block">1 Day Course, $89</small>
								<p class="text-muted size-14">Techniques and tools to increase employee collaboration around discussing job performance and improving results.</p>
							</div>
							<a href="#" class="btn btn-sm btn-hvr hvr-bounce-to-right hidden-sm hidden-xs">Sign Up Now! &nbsp;&nbsp;<i class="fa fa-paypal"></i></a>
						</div>

                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <figure class="margin-bottom-20">
                                <img class="img-responsive" src="/static/images/demo/mockups/800x553/3-min.jpg" alt="service" />
                            </figure>
							<div style="height:180px;">
								<h4 class="nomargin-bottom">Workfrce Optimization (next level TD)</h4>
								<small class="font-lato size-18 margin-bottom-30 block">1 Day Course With One to One Follow-Up, $895</small>
								<p class="text-muted size-14">Techniques that align business wunit elements with Training and Development elements for maximumresults from employee investments.</p>
							</div>
							<a href="#" class="btn btn-sm btn-hvr hvr-bounce-to-right hidden-sm hidden-xs">Sign Up Now! &nbsp;&nbsp;<i class="fa fa-paypal"></i></a>
                        </div>
                    </div>

                    <div class="row margin-bottom-20">

                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <figure class="margin-bottom-20">
                                <img class="img-responsive" src="/static/images/demo/mockups/800x553/19-min.jpg" alt="service" />
                            </figure>
							<div style="height:180px;">
								<h4 class="nomargin-bottom">Negotiation Skills</h4>
								<small class="font-lato size-18 margin-bottom-30 block">2 Day Course, $850</small>
								<p class="text-muted size-14">Learn to move beyond positional negotiation and onto interest based negation.</p>
							</div>
							<a href="#" class="btn btn-sm btn-hvr hvr-bounce-to-right hidden-sm hidden-xs">Sign Up Now! &nbsp;&nbsp;<i class="fa fa-paypal"></i></a>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4">
							<figure class="margin-bottom-20">
								<img class="img-responsive" src="/static/images/demo/mockups/800x553/12-min.jpg" alt="service" />
							</figure>
							<div style="height:180px;">
								<h4 class="nomargin-bottom">Customer-for-life Selling Techniques</h4>
								<small class="font-lato size-18 margin-bottom-30 block">3 Day Course, $1,200</small>
								<p class="text-muted size-14">Consultative selling techniques to research leads, secure 1st appointments, and engage contacts to build connections and diagnose needs.</p>
							</div>
							<a href="#" class="btn btn-sm btn-hvr hvr-bounce-to-right hidden-sm hidden-xs">Sign Up Now! &nbsp;&nbsp;<i class="fa fa-paypal"></i></a>
						</div>

                        <div class="col-lg-4 col-md-4 col-sm-4">
							<figure class="margin-bottom-20">
								<img class="img-responsive" src="/static/images/demo/mockups/800x553/9-min.jpg" alt="service" />
							</figure>
							<div style="height:180px;">
								<h4 class="nomargin-bottom">Supply Chain Management for non-Logistics Professionals</h4>
								<small class="font-lato size-18 margin-bottom-30 block">2 Day Course, $1,200</small>
								<p class="text-muted size-14">International logistics strategies for cost management balanced with customer responsive reliability.</p>
							</div>
							<a href="#" class="btn btn-sm btn-hvr hvr-bounce-to-right hidden-sm hidden-xs">Sign Up Now! &nbsp;&nbsp;<i class="fa fa-paypal"></i></a>
						</div>

                    </div>
                    <div class="container">
                        <div class="heading-title heading-line-double margin-top-80">
                            <h4><span>More Courses Available Soon!</span></h4>
                        </div>
                    </div>
                </div>
            </section>
            <section class="padding-xs nomargin">
                <div class="callout alert alert-transparent noborder noradius nomargin">

                    <div class="text-center">

                        <h3>Need more details or course dates?</h3>
                        <p class="font-lato size-20">
                            We are here to assist. Contact us by phone or email. We're ready, willing, and waiting to hear from you!
                        </p>

                        <a href="/#contact" class="btn btn-primary btn-lg margin-top-30">CONTACT US NOW</a>

                    </div>

                </div>
            </section>

            {{ template "footer2.tmpl" . }}

		</div>

		<a href="#" id="toTop"></a>

		<div id="preloader">
			<div class="inner">
				<span class="loader"></span>
			</div>
		</div>

		{{ template "scripts.tmpl" . }}
		{{ template "alert.tmpl" . }}

	</body>
</html>
