<script type="text/javascript">var plugin_path = '/static/plugins/';</script>
<script type="text/javascript" src="/static/plugins/jquery/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/static/js/scripts.js"></script>
