

<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>Cultivisor Terms of Service</title>
		<meta name="keywords" content="HTML5,CSS3,Template" />
		<meta name="description" content="" />
		<meta name="Author" content="Dorin Grigoras [www.stepofweb.com]" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
		<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

		<!-- WEB FONTS : use %7C instead of | (pipe) -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700" rel="stylesheet" type="text/css" />
		<link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>

		<!-- CORE CSS -->
		<link href="/static/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

		<!-- SWIPER SLIDER -->
		<link href="/static/plugins/slider.swiper/dist/css/swiper.min.css" rel="stylesheet" type="text/css" />

		<!-- THEME CSS -->
		<link href="/static/css/essentials.css" rel="stylesheet" type="text/css" />
		<link href="/static/css/layout.css" rel="stylesheet" type="text/css" />

		<!-- PAGE LEVEL SCRIPTS -->
		<link href="/static/css/header-1.css" rel="stylesheet" type="text/css" />
		<link href="/static/css/color_scheme/green.css" rel="stylesheet" type="text/css" id="color_scheme" />
	</head>

	<body class="smoothscroll enable-animation">

		<!-- wrapper -->
		<div id="wrapper">

			<div id="header" class="sticky clearfix">

				{{ template "navbar2.tmpl" . }}

			</div>

            <section>
                <div class="container">

                    <h2>
                        Web Site Terms and Conditions of Use
                    </h2>

                    <h3>
                        1. Terms
                    </h3>

                    <p>
                        By accessing this web site, you are agreeing to be bound by these
                        web site Terms and Conditions of Use, all applicable laws and regulations,
                        and agree that you are responsible for compliance with any applicable local
                        laws. If you do not agree with any of these terms, you are prohibited from
                        using or accessing this site. The materials contained in this web site are
                        protected by applicable copyright and trade mark law.
                    </p>

                    <h3>
                        2. Use License
                    </h3>

                    <ol type="a">
                        <li>
                            Permission is granted to temporarily download one copy of the materials
                            (information or software) on Cultivisor's web site for personal,
                            non-commercial transitory viewing only. This is the grant of a license,
                            not a transfer of title, and under this license you may not:

                            <ol type="i">
                                <li>modify or copy the materials;</li>
                                <li>use the materials for any commercial purpose, or for any public display (commercial or non-commercial);</li>
                                <li>attempt to decompile or reverse engineer any software contained on Cultivisor's web site;</li>
                                <li>remove any copyright or other proprietary notations from the materials; or</li>
                                <li>transfer the materials to another person or "mirror" the materials on any other server.</li>
                            </ol>
                        </li>
                        <li>
                            This license shall automatically terminate if you violate any of these restrictions and may be terminated by Cultivisor at any time. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your possession whether in electronic or printed format.
                        </li>
                    </ol>

                    <h3>
                        3. Disclaimer
                    </h3>

                    <ol type="a">
                        <li>
                            The materials on Cultivisor's web site are provided "as is". Cultivisor makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights. Further, Cultivisor does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its Internet web site or otherwise relating to such materials or on any sites linked to this site.
                        </li>
                    </ol>

                    <h3>
                        4. Limitations
                    </h3>

                    <p>
                        In no event shall Cultivisor or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption,) arising out of the use or inability to use the materials on Cultivisor's Internet site, even if Cultivisor or a Cultivisor authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.
                    </p>

                    <h3>
                        5. Revisions and Errata
                    </h3>

                    <p>
                        The materials appearing on Cultivisor's web site could include technical, typographical, or photographic errors. Cultivisor does not warrant that any of the materials on its web site are accurate, complete, or current. Cultivisor may make changes to the materials contained on its web site at any time without notice. Cultivisor does not, however, make any commitment to update the materials.
                    </p>

                    <h3>
                        6. Links
                    </h3>

                    <p>
                        Cultivisor has not reviewed all of the sites linked to its Internet web site and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by Cultivisor of the site. Use of any such linked web site is at the user's own risk.
                    </p>

                    <h3>
                        7. Site Terms of Use Modifications
                    </h3>

                    <p>
                        Cultivisor may revise these terms of use for its web site at any time without notice. By using this web site you are agreeing to be bound by the then current version of these Terms and Conditions of Use.
                    </p>

                    <h3>
                        8. Governing Law
                    </h3>

                    <p>
                        Any claim relating to Cultivisor's web site shall be governed by the laws of the State of pennsylvania without regard to its conflict of law provisions.
                    </p>

                    <p>
                        General Terms and Conditions applicable to Use of a Web Site.
                    </p>

                </div>
            </section>

			<!-- /CONTACT -->

			{{ template "footer2.tmpl" . }}

		</div>
		<!-- /wrapper -->


		<!-- SCROLL TO TOP -->
		<a href="#" id="toTop"></a>


		<!-- PRELOADER -->
		<div id="preloader">
			<div class="inner">
				<span class="loader"></span>
			</div>
		</div><!-- /PRELOADER -->

		{{ template "scripts.tmpl" . }}
		{{ template "alert.tmpl" . }}

		<!-- STYLESWITCHER - REMOVE -->
		<!-- <script async type="text/javascript" src="/static/plugins/styleswitcher/styleswitcher.js"></script> -->

		<!-- SWIPER SLIDER -->
		<script type="text/javascript" src="/static/plugins/slider.swiper/dist/js/swiper.min.js"></script>
		<script type="text/javascript" src="/static/js/view/demo.swiper_slider.js"></script>

		<!-- PAGELEVEL SCRIPTS -->
		<script type="text/javascript" src="/static/js/contact.js"></script>

		<script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=true"></script>
		<script type="text/javascript" src="/static/plugins/gmaps.js"></script>
		<script type="text/javascript">

		</script>

	</body>
</html>
