<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Cultivisor What We Do</title>
		<meta name="keywords" content="HTML5,CSS3,Template" />
		<meta name="description" content="" />
		<meta name="Author" content="Dorin Grigoras [www.stepofweb.com]" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700" rel="stylesheet" type="text/css" />
		<link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>

		<!-- CORE CSS -->
		<link href="/static/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

		<!-- SWIPER SLIDER -->
		<link href="/static/plugins/slider.swiper/dist/css/swiper.min.css" rel="stylesheet" type="text/css" />

		<!-- THEME CSS -->
		<link href="/static/css/essentials.css" rel="stylesheet" type="text/css" />
		<link href="/static/css/layout.css" rel="stylesheet" type="text/css" />

		<!-- PAGE LEVEL SCRIPTS -->
		<link href="/static/css/header-1.css" rel="stylesheet" type="text/css" />
		<link href="/static/css/color_scheme/green.css" rel="stylesheet" type="text/css" id="color_scheme" />
	</head>

	<body class="smoothscroll enable-animation">

		<div id="wrapper">

			<div id="header" class="sticky clearfix">

				{{ template "navbar2.tmpl" . }}

			</div>

            <section>
                <div class="container">
                    <div class="heading-title heading-color heading-border">
                	    <h1>The Human Resources Function as a <span>Profit Center</span></h1>
                        <p class="font-lato size-19">(not a necessary evil)</p>
                    </div>
					<div class="divider divider-center divider-color">
						<i class="fa fa-chevron-down"></i>
					</div>
                    <div class="col-lg-12">
                        <h4>When you consider that effectively engaging the workforce will result in people getting "up to speed" faster and performing at a higher rate, you can start to see why the Human Resources function is really more of A <span>PROFIT CENTER</span> than anything else (e.g. a necessary evil?) </h4>
                        <h4>Optimizing the workforce will deliver real money to the organization, but it takes someone applying the science and art (and probably a software tool . . .  )  for the results to follow.</h4>
                        <h4>We'd like for you to think of us as your partners in your Workforce Optimization efforts.  We bring <span>"advice and tools"</span> that are designed and intended to help you <span>"cultivate employee talent."</span></h4>
                        <h4>Workforce Optimization is less of a revolution and more of an evolution  (although thinking of it as a "revolution" does appeal to us . . .  )   At its core, Workforce Optimization is the HR strategy of taking a holistic view across all of the factors that enhance or inhibit employee performance. </h4>
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="col-lg-12">
                        <h3 class="lead text-center">Someone has said that Workforce Optimization is like Talent Development on steroids. We think that's a pretty good analogy!</h3>
                        <h4>Any good HR professional will tell you that helping employees perform requires more than just hiring the right person.  It also requires, training them, having a good manager guide and lead them, and paying them according to the marketplace and their contribution.  and that is just the starting point of the list . . .</h4>
                    </div>
                    <div class="col-lg-12">
                        <div class="heading-title heading-line-double text-center">
                            <h3>We have idenitified what we believe are Four Factors <br>that make <span>Workforce Optimization</span> so powerful:</h3>
                        </div>
                        <ul>
                            <li class="size-20">Nothing matters unless it has a positive impact on company results. (Show Us The Money!)</li>
                            <li class="size-20">JOB TASKS are the leverage for Talent Develpment. (Job Tasks take front-row-center!)</li>
                            <li class="size-20">Accountability has two parts: process accountability and results accountability (Employee Reviews)</li>
                            <li class="size-20">Technology makes it easier  (that's why we offer P.E.R.F.O.R.M. at such a low cost!)</li>
                        </ul>
                        <h4>Technology improvements have enabled HR professionals to leverage information in ways that just weren't possible before, and it is technology enablement that makes Workforce Optimization easier to achieve.</h4>
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="col-md-6">
                        <div>
                            <img class="img-responsive" src="/static/images/cultivisor_talent.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <br>
                        <ul class="nav nav-pills nav-stacked" >
                            <p class="lead">Explanation of the Elements of Workforce Optimization:</p>
                            <li class="active"><a href="/workforceoptimization">Improved Business Results as the goal</a></li>
                            <li class=""><a href="/workforceoptimization">Job Tasks as the leverage point</a></li>
                            <li class=""><a href="/appraisal">Employee Reviews</a></li>
                            <li class=""><a href="/perform">The tool to enable success - P.E.R.F.O.R.M.</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <br>
                        <h4>There is only a slight shift in your use of classic HR elements - but oh the difference that shift makes!</h4>
                    </div>
            </div>
            </section>
            <section>
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-xs-6 text-center margin-top-40">
							<h3 class="nomargin">WORKFORCE  OPTIMIZATION</h3>
							<p class="font-lato weight-300 lead nomargin-top">Read the excerpt on HR as a Profit Center from "All These People"</p>
                            <a href="/static/workforce-optimization.pdf" target="_blank" class="btn btn-lg btn-default btn-bordered size-20 wow bounce" data-wow-delay=".5s">
                                Snag A Free Copy!
                            </a>
						</div>
                        <div class="col-md-6 col-xs-6 text-center">
                            <img class="img-responsive" style="width:200px" src="/static/images/cultivisor_book.jpg" alt="" />
						</div>
					</div>

				</div>

			</section>

			<a href="#" id="toTop"></a>

			<div id="preloader">
				<div class="inner">
					<span class="loader"></span>
				</div>
			</div>

			{{ template "footer2.tmpl" . }}

			{{ template "scripts.tmpl" . }}
			{{ template "alert.tmpl" . }}

		<!-- SWIPER SLIDER -->
		<script type="text/javascript" src="/static/plugins/slider.swiper/dist/js/swiper.min.js"></script>
		<script type="text/javascript" src="/static/js/view/demo.swiper_slider.js"></script>

		<!-- PAGELEVEL SCRIPTS -->
		<script type="text/javascript" src="/static/js/contact.js"></script>

		<script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=true"></script>
		<script type="text/javascript" src="/static/plugins/gmaps.js"></script>
		<script type="text/javascript">

		</script>

	</body>
</html>
