

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Cultivisor WorkForce Optimization</title>
		<meta name="keywords" content="HTML5,CSS3,Template" />
		<meta name="description" content="" />
		<meta name="Author" content="Dorin Grigoras [www.stepofweb.com]" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700" rel="stylesheet" type="text/css" />
		<link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>

		<!-- CORE CSS -->
		<link href="/static/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

		<!-- SWIPER SLIDER -->
		<link href="/static/plugins/slider.swiper/dist/css/swiper.min.css" rel="stylesheet" type="text/css" />

		<!-- THEME CSS -->
		<link href="/static/css/essentials.css" rel="stylesheet" type="text/css" />
		<link href="/static/css/layout.css" rel="stylesheet" type="text/css" />

		<!-- PAGE LEVEL SCRIPTS -->
		<link href="/static/css/header-1.css" rel="stylesheet" type="text/css" />
		<link href="/static/css/color_scheme/green.css" rel="stylesheet" type="text/css" id="color_scheme" />
	</head>

	<body class="smoothscroll enable-animation">

		<div id="wrapper">

			<div id="header" class="sticky clearfix">

				{{ template "navbar2.tmpl" . }}

			</div>

            <section>
                <div class="container">
                    <div class="heading-title heading-border heading-color">
                	    <h1>WorkForce <span>Optimization</span></h1>
						<p class="font-lato size-19">The Backbone of a Companys Success</p>
                    </div>
					<div class="divider divider-center divider-color">
						<i class="fa fa-chevron-down"></i>
					</div>
                    <div class="col-lg-12 text-center">
                        <h4>Workforce Optimization is simply put to be the art of holistically applying the science of individual human resources management techniques</h4>
                        <h4>This approach has a few driving factors which make the WO mindset such an important evolutionary step.</h4>
                    </div>
                </div>
            </section>
            <section id="factorone">
                <div class="container">
                    <div class="col-lg-12">
                        <div class="heading-title heading-line-double">
                            <h2>Factor One: <span>"Show Us The Money!"</span></h2>
                        </div>
                        <p>The primary factor that makes Workforce Optimization so valuable to an organization is its close tie to the results on which the company is already keyed.  You might say that Workforce Optimization is always watching over the tie back to the money!  When someone undergoes a development event (it's not just training classes anymore!) there should always be some impact on either their ability to do their current job, or an acceleration of their ability to do a future job.  One of the steps of implementing a Workforce Optimization approach is to define the ties between business results, performance measurements, and job tasks.</p>
                        <p>From there, all the pieces fit together.  Of course, you're going to need a software tool to help make all this easier!  Because Workforce Optimization leverages the business units' job output metrics (units made/sold, etc.) there is a closer alignment with the results of HR efforts (job impact.)  You can see, track, and communicate what you are recruiting and/or training for, and why!</p>
                        <p>One of the things that will jump out at you quickly is that to properly optimize the workforce potential, there is a lot of information that you have to keep track of, and then be able to analyze.  The real power of Workforce Optimization is the common elements that you find in your top performers, and using that knowledge to better work with them and others.  While I'd say that there's nothing new to keep track of, there is a huge difference in that we look at the individual elements in their aggregate.</p>
                        <p>It is the inter-relation of the elements of a person's background that gives you the insight into how to better manage the workforce.  When the classic HR Mgt. information is looked at alongside of the workplace job performance criteria and measurements, Perf. Mgt. causes you to pinpoint the elements that lead to top level job performance.  These elements are then designed into recruiting, interviewing, hiring, and development.  A better way to support and enable the human resource of the company has just been achieved!!  Have we mentioned P.E.R.F.O.R.M. yet? </p>
                        <h4 class="text-center">It is only P.E.R.F.O.R.M. that will help pull all the pieces together so you can derrive insight from your data.</h4>
                        <p><strong>With the connection to business results - what the company measures get done</strong>, but more importantly, it can be used to <strong>prove</strong> the impact of good training and develpment!</p>
                    </div>
                </div>
            </section>
            <section id="factortwo">
                <div class="container">
                    <div class="col-lg-12">
                        <div class="heading-title heading-line-double">
                            <h2>Factor Two: <span>Job Tasks are Front and Center</span></h2>
                        </div>
                        <p>There is, perhaps, one deviation from the past, or perhaps again we'll call it an evolutionary step, and that is the pre-eminence of the "JOB TASK" in driving Talent Development design.</p>
                        <p>In the past, job tasks were the domain of the business unit managers who were trying to heighten efficiency in processes.  About the only use for them in the HR function was to include them on a Job Description, so that a candidate knew what was going to be expected.</p>
                        <p>All of that has changed.  or rather <strong>evolved!</strong>  The use of job tasks to drive Talent Development design is a critical aspect to the strategy of Workforce Optimization.</p>
                        <p>A well run department will have its jobs defined by the tasks completed.  With all of the focus on accountability of the financial sector, ISO certification in the manufacturing sector, and Total Quality across all sectors, workflow diagrams and flow charts have become commonplace.  So let's use that to build a better partnership with the business units!  Let's use their own job definitions (which we probably helped them define anyway) as the centerpieces of the Learning Events we develop (see below.)</p>
                        <div class="col-lg-6">
                            <div class="embed-responsive embed-responsive-16by9">
                            	<iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/Da_DIHgsQIk"></iframe>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <p class="lead margin-top-100">The use of Job Tasks and their underlying "Skills, Knowledge, and Behaviors" as a basis for interviewing and candidate selection.</p>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="col-lg-6 margin-top-10">
                        <p class="lead">If your employees knew <strong>how</strong> to achieve more, then your Managers wouldn't have to tell them to achieve more, they would already be doing it!</h4>
                        <p class="lead">They even become the perfect Learning Outcomes for Talent Development activities (more on that later.)</h4>
                        <p class="lead">If you want to help your company to achieve MORE, then <strong>you</strong> have to help them <strong>"connect the dots!"</strong>  The heart of all employee performance change is to tie everything to the ability to successfully complete a <strong>job task</strong>.</h4>
                    </div>
                    <div class="col-md-6">
                        <div>
                            <img class="img-responsive" src="/static/images/perform_chart.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-lg-12 margin-top-40">
                        <p>Manager reviews of employees are structured around the idea of evaluating someone's ability to complete a job task.  Training classes are designed to teach people how to develop the skills, knowledge, and/or behaviors needed to do job tasks.  Employee performance measurements are connected to job tasks ("If you do 'this' the right way, this measurement will go up.  If you do "this" the wrong way, the measurement will go down.") </p>
                        <h4 class="text-center"><span>Everything is cross-referenced to the real job world, and a person's ability to complete actual job tasks!</span></h4>
                        <p>This creates maximum accountability back to job impact results!  Even recruiting and hiring is designed to look for people with a background which will enable them to perform job tasks more quickly.  You can recruit for the skills, knowledge, and behaviors, not just for someone who is already doing the exact same job somewhere else.  The science of identifying top performers and analyzing their background, the heart of Workforce Optimization, is what enables you to design an environment that quickly develops new talent and enhances employee engagement.</p>
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="col-lg-6">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/OILPxfddZoE"></iframe>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <p class="lead margin-top-100 text-center">The use of Job Tasks as a basis for ongoing Performance Reviews.</p>
                    </div>
                    <div class="col-lg-12 margin-top-40">
                        <h4 class="text-center">Start small and controlled - with one department - and prove your value.</h4>
                        <p>Identify the sweet-spot of the department with the highest attention in the company but with the highst level of definition.  It doesn't matter which department it is, because Workforce Optimization techniques work with every type of job.</p>
                        <p>What you are looking for is either the department that already has good job definitions, as evidenced by process flowcharts.  You need to start with job tasks.  You can either use what they have created or work with them to create that definition.  (We do have some generic structures available, like tasks of a Sales role, so ask us.)</p>
                        <p class="lead">There's more on this strategy in the <a href="#">Getting Started User Guide</a>.</p>
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="col-lg-12">
                        <div class="heading-title heading-line-double">
                            <h2>Factor Three: <span>Workplace Accountability Matters</span></h2>
                        </div>
                        <p>Doing it right is what leads to getting it done!  Workforce Optimization is also the appropriate intervention in an employee's experience to foster the best possible reuslts, which includes avoiding the negative inhibitors.</p>
                        <p>Most companies already have results accountability.  They call them Annual Reviews.  The problem is that annual reviews don't change results.  Even if you switch to quarterly reviews, they don't get to the root of the problem.</p>
                        <p>The root of employee job performance improvement is training and continual coaching.  The FOCUS on the UNDERLYING BEHAVIORS is what brings about the improved results.</p>
                        <h4 class="text-center"><span>By adding accountability to process (doing it right) you increase the learning transfer.</span></h4>
                        <p>Tackle one performance improvement at a time, through a focused review of the performance of a job task, to effectively change the person's underlying habit.  Focus on one - you'll get it done!</p>
                        <h4>More on Employee Reviews</h4>
                    </div>
                </div>
            </section>
            <section>
				<div class="container">
					<div class="row">
                        <div class="col-md-6 col-xs-12 text-center">
                            <img class="img-responsive" style="width:200px" src="/static/images/cultivisor_book.jpg" alt="" />
                        </div>
						<div class="col-md-6 col-xs-12 text-center margin-top-40">
							<h3 class="nomargin">WORKFORCE  OPTIMIZATION</h3>
							<p class="font-lato weight-300 lead nomargin-top">"It all comes down to your people!"</p>
                            <br>
                            <br>
                            <a href="/static/workforce-optimization.pdf" target="_blank" class="btn btn-lg btn-default btn-bordered size-20 wow bounce" data-wow-delay=".5s">
                                Snag A Free Copy!
                            </a>
						</div>
					</div>

				</div>

			</section>

			<a href="#" id="toTop"></a>

			<div id="preloader">
				<div class="inner">
					<span class="loader"></span>
				</div>
			</div>

			{{ template "footer2.tmpl" . }}

			{{ template "scripts.tmpl" . }}
			{{ template "alert.tmpl" . }}

		<!-- SWIPER SLIDER -->
		<script type="text/javascript" src="/static/plugins/slider.swiper/dist/js/swiper.min.js"></script>
		<script type="text/javascript" src="/static/js/view/demo.swiper_slider.js"></script>

		<!-- PAGELEVEL SCRIPTS -->
		<script type="text/javascript" src="/static/js/contact.js"></script>

		<script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=true"></script>
		<script type="text/javascript" src="/static/plugins/gmaps.js"></script>
		<script type="text/javascript">

		</script>

	</body>
</html>
